/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font-family: "PT Serif", "Georgia", "Helvetica Neue", Arial, sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Serif", "Georgia", "Helvetica Neue", Arial, sans-serif;
  margin-top: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
}

a:hover {
  color: black;
}

a:visited {
  color: #808080;
}

blockquote {
  font-style: italic;
  padding-left: 1em;
  border-left: 4px solid rgba(170, 170, 170, 0.5);
}

ul {
  margin-top: 1em;
}

table td {
  padding: 0 .5em;
}

iframe {
  margin-top: 1em;
  margin-bottom: 1em;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 110%;
  text-align: left;
  width: 95%;
  margin: 1em auto 2em auto;
}

.site .menu {
  color: #a00;
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-top: 0em;
  border-bottom: 4px solid #eee;
}

.site .menu a {
  color: #000;
}

.title {
  color: #a00;
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-top: 0em;
}

.site .title a {
  color: #a00;
}

.site .title a:hover {
  color: black;
}

.site .title a.extra {
  color: #aaa;
}

.site .title a.extra:hover {
  color: black;
}

.site .meta {
  color: #aaa;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a {
  color: #8085C1;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {
  margin-bottom: 2em;
  font-size: 110%;
}

/* standard */

#post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

#post ul,
#post ol {
  margin-left: 1.35em;
}

#post code {
  font-family: Menlo, Monaco, "Andale Mono", "Lucida console", "Courier New", monospace;
  font-size: 80%;
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
  border-radius: .4em;
}

#post pre code {
  border: none;
  padding: 0;
}

#post img {
  border: 0;
}

