<!DOCTYPE html>
 
<html lang="en">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <title>{{.Page.title}}</title>
   <link href="/favicon.png" rel="icon" />
   {{include "google_analytics.html"}}
   <link rel="stylesheet" href="/css/screen.css?v={{asset_version "css/screen.css"}}" type="text/css" media="screen, projection" />
   <link rel="stylesheet" type="text/css" href="/css/highlight.css" />
   {{include "highlight.html"}}
   <link rel="alternate" title="{{include "english/title.html"}}" href="/english/atom.xml" type="application/atom+xml">
</head>
<body>

<div class="site">

  <div class="menu">
    <a href="/english">blog</a> <span class="menu-separator" aria-hidden="true">&bull;</span>
    <a href="/english/projects/">projects</a> <span class="menu-separator" aria-hidden="true">&bull;</span>
    <a href="/english/interview/">interview</a> <span class="menu-separator" aria-hidden="true">&bull;</span>
    <a href="/english/articles/">articles</a> <span class="menu-separator" aria-hidden="true">&bull;</span>
    <a href="/english/about/">about</a>
    <span class="extra">&raquo;&nbsp;<a href="/" aria-label="По-русски"><span class="language-full">по-русски</span><span class="language-short">рус</span></a></span>
  </div>

  <div id="home">
    {{.Page.child}}
  </div>

  <div class="footer">
    <div class="contact">
      &copy; 2009-2026
      <a href="mailto:{{include "email.html"}}">{{include "english/author.html"}}</a> |
      <a href="/english/atom.xml" rel="subscribe-rss" title="Subscribe via RSS">RSS</a>
    </div>
  </div>

</div>

</body>
</html>
