<!DOCTYPE html>
 
<html>
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{.Page.title}}</title>
   <link href="/favicon.png" rel="icon" />
   {{include "google_analytics.html"}}
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
   <link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" />
   <link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" /> 
</head>
<body>

<div class="site">

  <div class="menu">
    <a class="extra" href="/">&laquo; по-русски &raquo;</a>  
    <a href="/english">blog</a> |
    <a href="/english/projects/">projects</a> |
    <a href="/english/articles/">articles</a> |
    <a href="/english/about/">about</a>
  </div>

  <div id="home">
    {{.Page.child}}
  </div>

  <div class="footer">
    <div class="contact">
      &copy; 2012
      <a href="mailto:{{include "email.html"}}">{{include "english/author.html"}}</a> |
      <a href="/english/atom.xml" rel="subscribe-rss" title="Subscribe via RSS">RSS</a>
    </div>
  </div>

</div>

{{if not .Page.post}}
<img style="position: absolute; top: 0; right: 0; border: 0;" src="/images/russian-character.png" />
{{end}}

</body>
</html>
