<!DOCTYPE html>
 
<html lang="ru">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <title>{{.Page.title}}</title>
   <link href="/favicon.png" rel="icon" />
   {{include "google_analytics.html"}}
   <link rel="stylesheet" href="/css/screen.css?v={{asset_version "css/screen.css"}}" type="text/css" media="screen, projection" />
   <link rel="stylesheet" type="text/css" href="/css/highlight.css" />
   {{include "highlight.html"}}
   <link rel="alternate" title="{{include "russian/title.html"}}" href="/atom.xml" type="application/atom+xml">
</head>
<body>

<div class="site">

  <div class="menu">
    <a href="/">блог</a> <span class="menu-separator" aria-hidden="true">&bull;</span>
    <a href="/projects/">проекты</a> <span class="menu-separator" aria-hidden="true">&bull;</span>
    <a href="/interview/">интервью</a> <span class="menu-separator" aria-hidden="true">&bull;</span>
    <a href="/articles/">статьи</a> <span class="menu-separator" aria-hidden="true">&bull;</span>
    <a href="/about/">автор</a>
    <span class="extra">&raquo;&nbsp;<a href="/english" aria-label="English"><span class="language-full">english</span><span class="language-short">eng</span></a></span>
  </div>

  <div id="home">
    {{.Page.child}}
  </div>

  <div class="footer">
    <div class="contact">
      &copy; 2009-2026
      <a href="mailto:{{include "email.html"}}">{{include "russian/author.html"}}</a> |
      <a href="/atom.xml" rel="subscribe-rss" title="Подписаться через RSS">RSS</a>
    </div>
  </div>

</div>

</body>
</html>
