<script type="text/javascript">
  var disqus_shortname = '{{.Page.disqus_shortname}}';
  var disqus_developer = {{.Page.disqus_developer}};
  var disqus_identifier = '{{.Page.disqus_identifier}}';
  var disqus_url = '{{.Page.disqus_url}}';
  var disqus_script = 'embed.js';
  (function () {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/' + disqus_script;
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  }());
</script>
